# Class and objects
# Every object has the following properties:
    1. Idenitity : Every object must be uniquely idenitified.
    2. State: An object has attributes that represent the state of an object 
    3. Behaovior: An object has methods that represent its behavior.
        
        
- Object is an instance of a class
     
     Class is a buleprint or code template for object creation. using a class, you can create as many objects as you want.

In [2]:
# Creating a class
class class_name:
    
    """This is a docstring.I have created a class"""
class_name.__doc__

'This is a docstring.I have created a class'

In [9]:
# Define a class
class person():   # class is buleprint
    def __init__(self,name,gender,profession):   # object initialzation # class init method me call krne me class ko self le leta hai 
        #state (attributes)
        self.name = name
        self.gender = gender
        self. profession = profession
        
    # Behaviour (methods)
    def show(self):
        print("name:",self.name,"gender:",self.gender,"profession:",self.profession)
        
    def work(self):
        print(self.name ,"is working as a",self.profession)

In [10]:
Ram =  person("ram","male","sowfter developer")
shyam = person("shyam","male","wed developer")

In [11]:
Ram.show()

name: ram gender: male profession: sowfter developer

In [12]:
shyam.show()

name: shyam gender: male profession: wed developer

In [13]:
Ram.work()

ram is working as a sowfter developer

In [14]:
shyam.work()

shyam is working as a wed developer

In [2]:
# Define a class 
class person:
    def __init__(self,name,gender,profession):
        self.name = name
        self.gender = gender
        self.profession=profession

In [3]:
ram = person("ram","male","sowfter devepoler")

In [4]:
person("ram","male","sowfter devepoler")

In [5]:
print(id(ram.name))
print(id(ram.gender))
print(id(ram.profession))

2711962760304
2711957502384
2711963875840

In [6]:
ram.salary=150000
print(ram.salary)

150000

In [8]:
print((ram.name,ram.gender,ram.profession,ram.salary))

('ram', 'male', 'sowfter devepoler', 150000)

In [1]:
class my_detail:
    def __init__(self,name,address,hobbies,bucketlist):
        self.name = name
        self.address = address
        self.hobbies = hobbies
        self.bucketlist= bucketlist

In [2]:
my_self=my_detail("gaurav","kaladhugi","bike riders","world tour")

In [3]:
print(my_detail)

<class '__main__.my_detail'>

In [4]:
print(f"my name is {my_self.name} im from {my_self.address} and my hobbies is {my_self.hobbies} and my bucket list is a {my_self.bucketlist}")

my name is gaurav im from kaladhugi and my hobbies is bike riders and my bucket list is a world tour

In [62]:
class car:
    def __init__(self,carname,carclur,carprieces,countaryname):
        self.car_name= carname
        self.car_clur= carclur
        self.car_prieces= carprieces
        self.countary_name = countaryname
    
    def car_d(self):
        print(f"she is my new car this is a name of{self.car_name} and this is {self.car_clur} colour")
class car1:
    def __init__(self,speed,kmph,topsspeed):
        self.speed_=speed
        self.kmph_=kmph
        self.topspeed_=topsspeed
        pass
    
        #y = car1("300","250kmph","400")

In [63]:
x= car("Ferrari","Yellow", 10, "America")
#y= car1("300","250kmph","400")

In [64]:
x.car_d()

she is my new car this is a name ofFerrari and this is Yellow colour

In [86]:
print(cars_detail.car_name,cars_detail.car_clur,cars_detail.car_prieces,cars_detail.countary_name)

Ferrari Yellow 10 Millon America

In [35]:
x=45; y=45 ;z =45
print(x+y+z)

135

In [4]:
class person():   # class is buleprint
    x =23
    def __init__(self,name,gender,profession):   # object initialzation
        #state (attributes)
        person.x =34
        self.name = name
        self.gender = gender
        self. profession = profession
        
    # Behaviour (methods)
    def show(self):
        no= int(input("no is value:"))
        no1 = int(input("no1 is value:"))
        print(no+no1,no-no1,no*no1,no/no1)

In [8]:
print(person.x)

34

In [5]:

detail=person("gaurav","male","data scientist")

In [6]:
print(detail.name,detail.gender,detail.profession)

gaurav male data scientist

In [7]:
detail.show()

no is value:23
no1 is value:23
46 0 529 1.0

In [ ]:
# Mehtods are definded for the objects of a paritculor class whereas function are not defined for a particulor class

# Class attributes 
<font size = 5>  This  is a two type of a variable<br>
1. Instance variable
2. Class variable

In [ ]:
# intance variables - Attached to an instace (object) of a class.
#                    - defined inside any methods but genreally inside thee __init__method
#                    - Every object will have its own copy
# Class variable - Attaced to the class 
#                 - declared inside the class but ouside of any method
#                 - Every object will share the same class variable
# class name change the intance varible same work to class

In [1]:
class student:
    # class variable
    school_name = "ABC school"
    def __init__(self,name,age):
        # intance vairable
        self.name= name
        self.age = age
s1= student ("jack",12)

In [2]:
# acces intances variable
print("student:",s1.name,s1.age)

student: jack 12

In [3]:
student.name

AttributeError: type object 'student' has no attribute 'name'

In [56]:

# acces class variable

print("School name:",student.school_name)

School name: ABC school

In [57]:
s1.school_name

'ABC school'

In [58]:
school_name

NameError: name 'school_name' is not defined

In [59]:
#modifiy instance variables
s1.name="Tom"
s1.age=23
print("Student:",s1.name,s1.age)

Student: Tom 23

In [50]:
# modify class variable  
student.school_name= "xyz school"    # change the class varible so wirte to class name than will be change
print("School name:",student.school_name)

School name: xyz school

In [27]:
class student:
    # class variable
    school_name = "ABC school"
    def __init__(self,name,age):
        # intance vairable
        self.name= name
        self.age = age
s1= student ("jack",12)

In [9]:
# Experiments
s2 = student("james",12)
s2.school_name = "Xyz school"  # This creats an instance variable "school_name" for s2
print(s2.school_name)
print(student.school_name)   # but the class variable "school_name" does not change

Xyz school
ABC school

In [9]:
class subject:
    Team_name = "indian team"
    def __init__(team,name,run,position):
        team.name = name
        team.run = run
        team.position=position
    def work(team):
        print(team.name,"compelete innings",team.run,"under 34 balls","players",team.position,"come out to starting of the innings")
t1 = subject(" rahul",67,"opner")
t2 =subject("rohit",56,"nonsticker")
t3= subject("virat",89,"firstdown")

In [10]:
t1.work()
t2.work()
t3.work()

 rahul compelete innings 67 under 34 balls players opner come out to starting of the innings
rohit compelete innings 56 under 34 balls players nonsticker come out to starting of the innings
virat compelete innings 89 under 34 balls players firstdown come out to starting of the innings


# Deleting object attributes

In [10]:
del s2.school_name

In [11]:
s2.school_name

'ABC school'

# Deleting an object

In [12]:
del s2
s2

NameError: name 's2' is not defined

In [14]:
del student.school_name

In [15]:
school_name

NameError: name 'school_name' is not defined

# Constructor

A Constructor is a special method used to initialize an object of a class
- Defining constructor is optional
- Python will provide a default constructor if no constructor is defind
- The constructor is excuted automiatically at the time of object creation.
- The primary use of a constructor is to inilialize instace variable of an object. The constructor contains a collection of statemantes 
- Construtor = **__init__**

In [11]:


class Student:
    pass


# ptyhon given default construtor
s1 = Student()
s2 = Student()
s3 = Student()

In [ ]:
s1.name = "ram"
s1.age = 18
s1.profession = "web developer"

s2.name = "syham"
s2.age = 21
s2.profession = "softwer developer"

s3.name = "neeraj"
s3.age = 22
s3.profession = "data scientist"

In [ ]:
class Student:
    # construtor
    # initialize instance variable
    def __init__(self,name,age,profession):
        self.name = name
        self.age = age
        self.profession = profession
        
# create object using variable
s1 = Student("Ram",18,"web developer")
s2 = Student("Shyam",21,"softwer developer")
s3 = Student("Neeraj",22,"data scientist")

# Destrutor

- A destrutor is called when an object is deleted or destroyed.

In [1]:
class Student:
      
    # construtor
    def __init__(self,name):
        print("Inside Construtor")
        self.name= name
        print("object initialized")
        
    def show(self):
        print("hello, my name is", self.name)
        
    # destrutor
    def __del__(self):
        print( "inside desrutor")
        print("Object destoryed")
# create object
s1 = Student("Emma")
s1.show()
# delete object
del s1

Inside Construtor
object initialized
hello, my name is Emma
inside desrutor
Object destoryed

In [2]:
print(s1.name)

NameError: name 's1' is not defined

In [3]:
class Student:
      
    # construtor
    def __init__(self,name):
        print("Inside Construtor")
        self.name= name
        print("object initialized")
        
    def show(self):
        print("hello, my name is", self.name)
        
    # destrutor
    def __del__(self,name):
        print( "inside desrutor")
        print("Object destoryed")
# create object
s1 = Student("Emma")
s1.show()
# delete object
Student.__del__(s1,"Emma")

Inside Construtor
object initialized
hello, my name is Emma
inside desrutor
Object destoryed

In [4]:
Student.__del__(s1,"Emma")

inside desrutor
Object destoryed

# Instance Methods 
- Methods in which instace variables and class variable are used
- Used to access or modify both the object and class state.
- It must have a self parameters to refer to the current object

In [18]:
class Aspirant:
    def __init__(self,name):          # construtor are special methods
        print("Hey, I am a data scientist")
        self.name = name
        
        
    def show(self):                   # show is an instance method
        print("My name is ", self.name)
        
a1=Aspirant("Gaurav")
a1.show() # calling an instance method

Hey, I am a data scientist
My name is  Gaurav

In [20]:
a2 = Aspirant("Rishi")
a2.show()

Hey, I am a data scientist
My name is  Rishi

In [3]:
class Person:
    job = "Data Scientist"
    def change_class_state(self):
        Person.job = "Web Developer"    # Access class attributes and change the classs state
        print(Person.job)
p1 = Person()
p1.change_class_state()

Web Developer

In [22]:
class Person:
    job = "Data Scientist"
    def change_class_state(self):
        self.job = "Web Developer"    # Access class attributes and change the classs state
        print(Person.job)
p1 = Person()
p1.change_class_state()

Data Scientist

# Class Methods
- Methods in which only class variable are used.
- Take the c/s parameter
- Used to access or modify the class state.

In [23]:
x =90
y =78
print("the value if x is " ,x,"and the value of y is ",y)

the value if x is  90 and the value of y is  78

In [24]:
print(f"the value of x is {x} and the value of y is {y}")   # f-string string formelty

the value of x is 90 and the value of y is 78

In [3]:
class School:
    school_name = "Veerseva"
    loc = "Haldwani"
    @classmethod      # decorator
    def change_school(cls,name,loc1):
        print(cls)
        cls.school_name= name
        cls.loc = loc1
        
std1 = School()                                                            
print(f"persent school name is {School.school_name} in {School.loc}")
School.change_school("Gurukul","Delhi")                   #  only call for class name to method 
print(f"Now school has been changed to {School.school_name} in {School.loc}")

persent school name is Veerseva in Haldwani
<class '__main__.School'>
Now school has been changed to Gurukul in Delhi

In [2]:
# using class method as alternative construtor
class School:
    school_name = "XYZ school"
    loc = "haldwani"
    
    def __init__(self,name,class_):
        self.name = name
        self.class_ = class_
    
    @classmethod
    def new_admission(cls,info):     # alternative construtor
        
        lst = info.split("@")        # he was string method (.split)
        print(lst)
        return cls(lst[0],lst[1])    # school("parag","4th") create the object in return

std2 = School.new_admission("Parag@4th")

print(std2.name,std2.class_)

['Parag', '4th']
Parag 4th

# Static Methods 4 
- Similar to a normal function
- It does not take the cls and self parameters.
- It connot modify the state of the object or class.

# Advantages
- Safer Code - as they cannot change the class or instace variables

In [3]:
class Empolyee:
    
    @staticmethod
    def sample(x):
        print("Inside static Method",x)

# call using class
Empolyee.sample(10)        # only pass a argument of parameter x

# call using object
emp = Empolyee()
emp.sample(10)

Inside static Method 10
Inside static Method 10

<font size=6> **hello**<br>*world*<br>
gaurav

In [28]:
# <font size= any number> #double str first and lst for a santance